@model ShoppingCartVM

<div class="container my-5">
    <h1 class="text-center mb-4">Shopping Cart</h1>

    <form method="post">
        <div class="row">
            <div class="col-md-8">
                @foreach (var cart in Model.ShoppingCartLists)
                {
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src="~/@cart.Item.ImageUrl" class="img-fluid rounded-start" alt="@cart.Item.Title" style="max-height: 150px; object-fit: cover;">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body" style="max-height: 200px; overflow-y: auto; padding: 0.5rem;">
                                    <h5 class="card-title h6">@cart.Item.Title</h5>
                                    <p class="card-text small">@cart.Item.Description</p>
                                    <p class="card-text small fw-bold">By @cart.Item.AuthorName</p>
                                    <p class="card-text small">Price: @cart.Item.Price $</p>
                                    <p class="card-text small">Genre: @cart.Item.Genre</p>

                                    <div class="d-flex align-items-center mb-2">
                                        <button  class="btn btn-outline-secondary btn-sm" asp-action="decrement" asp-route-cartId="@cart.Id">-</button>
                                        <input type="number" class="form-control text-center mx-2" value="@cart.Count" min="1" readonly style="width: 60px;" />
                                        <button  class="btn btn-outline-secondary btn-sm" asp-action="increment" asp-route-cartId="@cart.Id">+</button>
                                        <button  class="btn btn-danger btn-sm ms-3" asp-action="Delete" asp-route-cartId="@cart.Id">Delete</button>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Order Summary</h4>
                        <hr />
                        <h5 class="card-text fw-bold">Total: @Model.OrderHeader.OrderTotal $</h5>
                        <button type="submit" class="btn btn-primary btn-lg w-100 form-control" asp-action="Summary">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
